<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>IFT-3100 Infographie Travail pratique</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Page styles -->
    <link rel="stylesheet" href="styles/main.css">
</head>

<body class="flex col space-between">

    <main class="flex">
        <div id="content" class="main-content-wrapper flex row space-between vertical-stretch">
            <canvas id="canvas" class="g-medium--full g-wide--full vertical-stretch"></canvas>
        </div>
    </main>

    <script src="scripts/main.min.js"></script>

    <!-- shaders -->

    <script id="default-vertex-shader" type="x-shader/x-vertex">
        varying vec4 vColor;

        varying vec3 vLightWeighting;
        varying highp vec2 vTextureCoord;
        varying vec3 vNormal; //a shared value by v/f shaders for the normal
        void main(void)
        {
            vTextureCoord = <%=vars.uv%>;
            vColor = <%=vars.color%>;


            // Basic lighting per vertex.


            vec3 directionalVectorNormalized = normalize(<%=vars.directionalLightDirection%>);

            vec3 transformedNormal = <%=vars.normalMat%> * <%=vars.normal%>;
            vNormal = transformedNormal;

            float directionWeighting = max(dot(transformedNormal, directionalVectorNormalized), 0.0);

            
            if (<%=vars.useLighting%>) {

                vLightWeighting = 
                <%=vars.ambientLightColor%> 
                + (<%=vars.directionalLightColor%> * directionWeighting);

            } else {

                vLightWeighting = vec3(1.0, 1.0, 1.0);  

            }
            
            
            gl_Position = 
                <%=vars.projMat%> 
                * <%=vars.viewMat%> 
                * <%=vars.modelMat%> 
                * vec4(<%=vars.position%>, 1.0);
        }
    </script>


    <script id="default-fragment-shader" type="x-shader/x-fragment">
        precision mediump float;
        varying vec3 vNormal; //a shared value this.computeNormals = function() {
        var nbFaces = this.indices.length / 3;
        if (this.normals.length == 0) this.normals = new Array(this.vertices.length);

        for (var i = 0; i < this.normals.length; ++i) {
            this.normals[i] = vec3.create();
        }

        // Compute vertex normals weighted by triangles areas.
        // Source of algorithm : Three.js -> Geometry.js
        // https://github.com/mrdoob/three.js/blob/master/src/core/Geometry.js
        // http://www.iquilezles.org/www/articles/normals/normals.htm
        for (var j = 0; j < nbFaces; ++j) {
            var jx3 = j * 3;

            var v1 = this.vertices[this.indices[jx3]];
            var v2 = this.vertices[this.indices[jx3 + 1]];
            var v3 = this.vertices[this.indices[jx3 + 2]];

            var v1v2 = vec3.sub(vec3.create(), v1, v2);
            var v3v2 = vec3.sub(vec3.create(), v3, v2);
            var cross = vec3.cross(vec3.create(), v1v2, v3v2);

            var jx3 = j * 3;
            var n1 = this.normals[this.indices[jx3]];
            var n2 = this.normals[this.indices[jx3 + 1]];
            var n3 = this.normals[this.indices[jx3 + 2]];

            vec3.add(n1, n1, cross);
            vec3.add(n2, n2, cross);
            vec3.add(n3, n3, cross);

        }

        // Normalization.
        for (var i = 0; i < this.normals.length; ++i) {
            var n = this.normals[i];
            vec3.normalize(n, n);
        }

        if (this.useVAO) {
            this._wrapInVAOActivation(this.sendNormalsDataToBuffer)();
        } else {
            this.sendNormalsDataToBuffer();
        }by v/f shaders for the normal
        varying vec4 vColor;
        varying vec3 vNormalUntransformed;

        varying vec3 vLightWeighting;
        varying highp vec2 vTextureCoord;


        void main(void)
        {

            vec4 fragmentColor;

            if (<%=vars.useTextures%>) {
                
                fragmentColor = texture2D(<%=vars.sampler%>, vec2(vTextureCoord.s, vTextureCoord.t));
            }
            else {
                
                fragmentColor = vColor;

            }

            gl_FragColor = vec4(fragmentColor.rgb * vLightWeighting, fragmentColor.a);
        }
    </script>

    <script id="multilights-vertex-shader" type="x-shader/x-vertex">
        varying vec3 vColor;
        varying vec3 Position;  
        varying vec3 Normal;  
        varying highp vec2 TexCoords;

        void main(void)
        {
            TexCoords = <%=vars.uv%>;
            vColor = <%=vars.color%>.rgb;
            Position = vec3((<%=vars.modelMat%> * vec4(<%=vars.position%>, 1.0)).xyz);
            Normal = <%=vars.normal%>;
            
            
            gl_Position = 
                <%=vars.projMat%> 
                * <%=vars.viewMat%> 
                * <%=vars.modelMat%> 
                * vec4(<%=vars.position%>, 1.0);
        }
    </script>

	<script id="water-vertex-shader" type="x-shader/x-vertex">

        precision mediump float;

        varying vec3 vColor;

        attribute vec3 aPosition;
        attribute vec3 aNormal;
        attribute vec2 aUv;
        attribute vec4 aColor;

        varying vec3 Position;
        varying vec3 Normal;
        varying vec2 TexCoords;

        uniform mat4 uModelMatrix;
        uniform mat4 uViewMatrix;
        uniform mat4 uProjMatrix;

        uniform float waveTime;
        uniform float waveWidth;
        uniform float waveHeight;

        void main()
        {   
            float width1 = waveWidth * 1.2;
            float width2 = waveWidth * 0.9;
            float time1 = waveTime*2.0 + 0.75;
            float time2 = waveTime*3.0 + 1.81;
            float height1 = waveHeight/4.0;

            float width3 = waveWidth/1.7;
            float width4 = waveWidth;
            float time3 = waveTime;
            float time4 = waveTime;
            float height2 = waveHeight/4.0;

            float width5 = waveWidth/ 5.0;
            float width6 = waveWidth/ 7.0;
            float time5 = waveTime/3.0 + 2.34;
            float time6 = waveTime/5.0 + 5.42;
            float height3 = waveHeight/3.0;

            float width7 = waveWidth/4.0;
            float width8 = waveWidth/5.0;
            float time7 = waveTime*0.9 + 7.73;
            float time8 = waveTime*1.1 + 13.69;
            float height4 = waveHeight/2.5;
			/*
            float waveFact1 = 1.0+cos(waveTime/7.1);
            float waveFact2 = 1.0+cos(waveTime/5.5);
            float xFact1 = 1.0 + 0.5*cos(aPosition.x/13.1);
			float xFact1D = -0.5*sin(aPosition.x/13.1) / 13.1;
            float zFact1 = 1.0 + 0.5*cos(aPosition.z/11.2);
			float zFact1D = -0.5*sin(aPosition.z/11.2) / 11.2;
            float xFact2 = 1.0 + 0.5*cos(aPosition.x/15.2);
			float xFact2D = -1.0*sin(aPosition.x/15.2)/15.2;
            float zFact2 = 1.0 + 1.0*cos(aPosition.z/14.7);
			float zFact2D = -1.0*cos(aPosition.z/14.7)/14.7;
            float width9 = waveWidth/2.0 + waveWidth/4.0*sin(xFact1*zFact1*waveFact1);
            float width9XDer = waveWidth/4.0*cos(xFact1*zFact1*waveFact1) * xFact1D * zFact1 * waveFact1;
            float width9ZDer = waveWidth/4.0*cos(xFact1*zFact1*waveFact1) * xFact1 * zFact1D * waveFact1;
            float width10 = waveWidth/2.0 + waveWidth/4.0*sin(xFact2*zFact2*waveFact2);
            float width10XDer = waveWidth/4.0*cos(xFact2*zFact2*waveFact2) * xFact2D * zFact2 * waveFact2;
            float width10ZDer = waveWidth/4.0*cos(xFact2*zFact2*waveFact2) * xFact2 * zFact2D * waveFact2;
            float time9 = waveTime*1.92 + 1.7345;
            float time10 = waveTime*3.1 + 2.457;
            float height5 = waveHeight/5.3;
			*/
            float width11 = waveWidth/1.57;
            float width12 = waveWidth/1.28;
            float time11 = waveTime*1.9 + 1.73;
            float time12 = waveTime*2.1 + 2.69;
            float height6 = waveHeight/4.3;

            float width13 = waveWidth/2.77;
            float width14 = waveWidth/2.48;
            float time13 = waveTime/1.31 + 0.73;
            float time14 = waveTime/1.12 + 1.59;
            float height7 = waveHeight/1.5;

            vec3 y = vec3(0.0, 0.0, 0.0);
            y.y =  sin(width1 * aPosition.x + time1) * 
                   cos(width2 * aPosition.z + time2) * height1;
            y.y += sin(width3 * aPosition.x - time3) * 
                   cos(width4 * aPosition.z + time4) * height2;
            y.y += sin(width5 * aPosition.x + time5) * 
                   cos(width6 * aPosition.z - time6) * height3;
            y.y += sin(width7 * aPosition.x - time7) * 
                   cos(width8 * aPosition.z - time8) * height4;
            //y.y += sin(width9 * aPosition.x + time9) * 
            //       cos(width10 * aPosition.z + time10) * height5;
            y.y += sin(width11 * aPosition.x + time11) * 
                   cos(width12 * aPosition.z + time12) * height6;
            y.y += sin(width13 * aPosition.x + time13) * 
                   cos(width14 * aPosition.z - time14) * height7;
            
            gl_Position = uProjMatrix * uViewMatrix * uModelMatrix * vec4(aPosition + y, 1.0);
            // gl_Position = uProjMatrix * uViewMatrix * uModelMatrix * vec4(aPosition, 1.0);
            Position = vec3(uModelMatrix * vec4(aPosition + y, 1.0));
            // Position = vec3(uModelMatrix * vec4(aPosition, 1.0));
            
            float temp;
            temp =  cos(width1 * aPosition.x + time1) * width1 *
                    cos(width2 * aPosition.z + time2) * height1;
            temp += cos(width3 * aPosition.x - time3) * width3 * 
                    cos(width4 * aPosition.z + time4) * height2;
            temp += cos(width5 * aPosition.x + time5) * width5 * 
                    cos(width6 * aPosition.z - time6) * height3;
            temp += cos(width7 * aPosition.x - time7) * width7 * 
                    cos(width8 * aPosition.z - time8) * height4;
            //temp += cos(width9 * aPosition.x + time9) * ( aPosition.x * width9XDer + width9 ) * cos(width10 * aPosition.z + time10) +
            //        -sin(width10 * aPosition.z + time10) * width10XDer * aPosition.z * height5 * sin(width9 * aPosition.x + time10);
            temp += cos(width11 * aPosition.x + time11) * width11 * 
                    cos(width12 * aPosition.z + time12) * height6;
            temp += cos(width13 * aPosition.x + time13) * width13 * 
                    cos(width14 * aPosition.z - time14) * height7;
            vec3 cossinPTangentX = vec3(1.0, temp, 0.0);

            temp =  sin( width1 * aPosition.x + time1) * 
                    -sin(width2 * aPosition.z + time2) * width2 * height1;
            temp += sin( width3 * aPosition.x - time3) * 
                    -sin(width4 * aPosition.z + time4) * width4 * height2;
            temp += sin( width5 * aPosition.x + time5) *
                    -sin(width6 * aPosition.z - time6) * width6 * height3;
            temp += sin( width7 * aPosition.x - time7) *
                    -sin(width8 * aPosition.z - time8) * width8 * height4;
            //temp += cos( width9 * aPosition.x + time9) * width9ZDer * aPosition.x * cos(width10 * aPosition.z + time10) +
            //        -sin(width10 * aPosition.z + time10) * ( aPosition.z * width10ZDer + width10 ) * height5 * sin(width9 + aPosition.x + time9);
            temp += sin( width11 * aPosition.x + time11) *
                    -sin(width12 * aPosition.z + time12) * width12 * height6;
            temp += sin( width13 * aPosition.x + time13) *
                    -sin(width14 * aPosition.z - time14) * width14 * height7;
            vec3 cossinPTangentZ = vec3(0.0, temp, 1.0);

            vec3 cossinNormal = normalize( cross(cossinPTangentZ, cossinPTangentX) );

            // Normal = aNormal;
            Normal = normalize(cossinNormal);
            TexCoords = aUv;
		}
    </script>
	
    <script id="multilights-fragment-shader" type="x-shader/x-fragment">

        precision mediump float;

        #define MAX_DIRECTION_LIGHTS 1
        #define MAX_SPOTLIGHTS 0
        #define MAX_POINT_LIGHTS 0

        varying vec3 Position;  
        varying vec3 Normal;  
        varying vec2 TexCoords;
        varying vec3 vColor;

        //SPOTLIGHTS

        #if MAX_SPOTLIGHTS

        uniform vec3 s_position[MAX_SPOTLIGHTS];
        uniform vec3 s_direction[MAX_SPOTLIGHTS];
        uniform float s_cutoff[MAX_SPOTLIGHTS];
        uniform float s_outerCutoff[MAX_SPOTLIGHTS];
          
        uniform float s_constant[MAX_SPOTLIGHTS];   //Recommended values are: 1.0, 0.009, 0.0032
        uniform float s_linear[MAX_SPOTLIGHTS];
        uniform float s_quadratic[MAX_SPOTLIGHTS];
          
        uniform vec3 s_ambient[MAX_SPOTLIGHTS];
        uniform vec3 s_diffuse[MAX_SPOTLIGHTS];
        uniform vec3 s_specular[MAX_SPOTLIGHTS];       

        #endif

        #if MAX_DIRECTION_LIGHTS

        //DIRECTION LIGHTS
        uniform vec3 d_direction[MAX_DIRECTION_LIGHTS];

        uniform vec3 d_ambient[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_diffuse[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_specular[MAX_DIRECTION_LIGHTS];

        #endif

        #if MAX_POINT_LIGHTS

        //POINT LIGHTS
        uniform vec3 p_position[MAX_POINT_LIGHTS];

        uniform vec3 p_ambient[MAX_POINT_LIGHTS];
        uniform vec3 p_diffuse[MAX_POINT_LIGHTS];
        uniform vec3 p_specular[MAX_POINT_LIGHTS];

        uniform float p_constant[MAX_POINT_LIGHTS]; //Recommended values are: 1.0, 0.009, 0.0032
        uniform float p_linear[MAX_POINT_LIGHTS];
        uniform float p_quadratic[MAX_POINT_LIGHTS];

        #endif

        //Material
        uniform bool uUseLighting;
        uniform bool uUseTextures; //Defines whether of the following will be used
        uniform bool uUseSpecularMap;
        uniform sampler2D texture_diffuse;
        uniform sampler2D texture_specular;
        uniform vec3 m_ambient;
        uniform vec3 m_diffuse;
        uniform vec3 m_specular;    
        uniform float m_shininess;

        //Others
        uniform vec3 cameraPosition;

        vec3 getAmbient();
        vec3 getDiffuse();
        vec3 getSpecular();

        #if MAX_DIRECTION_LIGHTS

        vec3 calculateDirectionLight(vec3 lambient, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, vec3 V, vec3 N) {
            //Ambient
            vec3 ambient = lambient * getAmbient();
            
            //Diffuse
            vec3 L = normalize(-ldirection);  
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);

            if ( dot(L,N) > 0.0 ) {
                vec3 R = reflect(-L, N);  
                float spec = pow(max(dot(V, R), 0.0), m_shininess);
                if (spec > 0.0)
                    specular = dot(L,N) * lspecular * spec * getSpecular();
            }
                    
            return ambient + diffuse + specular;  
        }

        #endif

        #if MAX_SPOTLIGHTS

        vec3 calculateSpotlight(vec3 lambient, vec3 lposition, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, vec3 V, vec3 N) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse        
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 R = reflect(-L, N);  
                float spec = pow(max(dot(V, R), 0.0), m_shininess);
                if (spec > 0.0)
                    specular = dot(L,N) * lspecular * spec * getSpecular();
            }
            
            // Spotlight (soft edges)
            float theta = dot(L, normalize(-ldirection)); 
            float epsilon = (lcutoff - louterCutoff);
            float intensity = clamp((theta - louterCutoff) / epsilon, 0.0, 1.0);
            diffuse  *= intensity;
            specular *= intensity;
            
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse  *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular; 
        }

        #endif

        #if MAX_POINT_LIGHTS

        vec3 calculatePointLight(vec3 lambient, vec3 lposition, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, vec3 V, vec3 N) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse 
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 R = reflect(-L, N);  
                float spec = pow(max(dot(V, R), 0.0), m_shininess);
                if (spec > 0.0)
					specular = dot(L,N) * lspecular * spec * getSpecular();
            }
                
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular;
        }

        #endif

        void main()
        {
            vec3 result = vec3(0.0, 0.0, 0.0);
            vec3 V = normalize(cameraPosition - Position); //Some precalculation
            vec3 N = normalize(Normal);
            
            if(uUseLighting) {

                #if MAX_DIRECTION_LIGHTS

                //Directionlights
                for(int i = 0; i < MAX_DIRECTION_LIGHTS; i++)
                    result = clamp(result + calculateDirectionLight(
                            d_ambient[i], 
                            d_direction[i], 
                            d_diffuse[i], 
                            d_specular[i], 
                            V, 
                            N), 
                        0.0, 1.0);
                
                #endif

                #if MAX_SPOTLIGHTS

                //Spotlights
                for(int i = 0; i < MAX_SPOTLIGHTS; i++)
                    result = clamp(result + calculateSpotlight(
							s_ambient[i], 
                            s_position[i],
							s_direction[i],
                            s_diffuse[i], 
                            s_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N), 
                        0.0, 1.0);

                #endif

                #if MAX_POINT_LIGHTS

                //Pointlights
                for(int i = 0; i < MAX_POINT_LIGHTS; i++) {
                    result = clamp(result + calculatePointLight(
							p_ambient[i], 
                            p_position[i], 
                            p_diffuse[i], 
                            p_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N), 
                        0.0, 1.0);
                }

                #endif

            } else {

                result = vColor;

            }

            // result = vec3(1.0, 1.0, 1.0);
            gl_FragColor = vec4(result, 1.0);  

        } 

        vec3 getAmbient() {
            if (uUseTextures) return vec3(texture2D(texture_diffuse, TexCoords));
            return m_ambient;
        }
        vec3 getDiffuse() {
            if (uUseTextures) { return vec3(texture2D(texture_diffuse, TexCoords)); }
            return m_diffuse;
        }
        vec3 getSpecular() {
            if (uUseTextures && uUseSpecularMap) { return vec3(texture2D(texture_specular, TexCoords)); }
            return m_specular;
        }

    </script>

	    <script id="beckmann-fragment-shader" type="x-shader/x-fragment">

        precision mediump float;

        #define MAX_DIRECTION_LIGHTS 1
        #define MAX_SPOTLIGHTS 0
        #define MAX_POINT_LIGHTS 0

        varying vec3 Position;  
        varying vec3 Normal;  
        varying vec2 TexCoords;
        varying vec3 vColor;

        //SPOTLIGHTS

        #if MAX_SPOTLIGHTS

        uniform vec3 s_position[MAX_SPOTLIGHTS];
        uniform vec3 s_direction[MAX_SPOTLIGHTS];
        uniform float s_cutoff[MAX_SPOTLIGHTS];
        uniform float s_outerCutoff[MAX_SPOTLIGHTS];
          
        uniform float s_constant[MAX_SPOTLIGHTS];   //Recommended values are: 1.0, 0.009, 0.0032
        uniform float s_linear[MAX_SPOTLIGHTS];
        uniform float s_quadratic[MAX_SPOTLIGHTS];
          
        uniform vec3 s_ambient[MAX_SPOTLIGHTS];
        uniform vec3 s_diffuse[MAX_SPOTLIGHTS];
        uniform vec3 s_specular[MAX_SPOTLIGHTS];       

        #endif

        #if MAX_DIRECTION_LIGHTS

        //DIRECTION LIGHTS
        uniform vec3 d_direction[MAX_DIRECTION_LIGHTS];

        uniform vec3 d_ambient[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_diffuse[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_specular[MAX_DIRECTION_LIGHTS];

        #endif

        #if MAX_POINT_LIGHTS

        //POINT LIGHTS
        uniform vec3 p_position[MAX_POINT_LIGHTS];

        uniform vec3 p_ambient[MAX_POINT_LIGHTS];
        uniform vec3 p_diffuse[MAX_POINT_LIGHTS];
        uniform vec3 p_specular[MAX_POINT_LIGHTS];

        uniform float p_constant[MAX_POINT_LIGHTS]; //Recommended values are: 1.0, 0.009, 0.0032
        uniform float p_linear[MAX_POINT_LIGHTS];
        uniform float p_quadratic[MAX_POINT_LIGHTS];

        #endif

        //Material
        uniform bool uUseLighting;
        uniform bool uUseTextures; //Defines whether of the following will be used
        uniform sampler2D texture_diffuse;
        uniform sampler2D texture_specular;
        uniform vec3 m_ambient;
        uniform vec3 m_diffuse;
        uniform vec3 m_specular;    
        uniform float m_shininess;
		uniform float m_roughness;

        //Others
        uniform vec3 cameraPosition;

		float beckmann(vec3 N, vec3 H);
        vec3 getAmbient();
        vec3 getDiffuse();
        vec3 getSpecular();

        #if MAX_DIRECTION_LIGHTS

        vec3 calculateDirectionLight(vec3 lambient, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, vec3 V, vec3 N) {
            //Ambient
            vec3 ambient = lambient * getAmbient();
            
            //Diffuse
            vec3 L = normalize(-ldirection);  
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);

            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = beckmann(N,H);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
                    
            return ambient + diffuse + specular;  
        }

        #endif

        #if MAX_SPOTLIGHTS

        vec3 calculateSpotlight(vec3 lambient, vec3 lposition, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, vec3 V, vec3 N) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse        
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = beckmann(N,H);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
            
            // Spotlight (soft edges)
            float theta = dot(L, normalize(-ldirection)); 
            float epsilon = (lcutoff - louterCutoff);
            float intensity = clamp((theta - louterCutoff) / epsilon, 0.0, 1.0);
            diffuse  *= intensity;
            specular *= intensity;
            
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse  *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular; 
        }

        #endif

        #if MAX_POINT_LIGHTS

        vec3 calculatePointLight(vec3 lambient, vec3 lposition, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, vec3 V, vec3 N) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse        
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = beckmann(N,H);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
                
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse  *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular;
        }

        #endif

        void main()
        {
            vec3 result = vec3(0.0, 0.0, 0.0);
            vec3 V = normalize(cameraPosition - Position); //Some precalculation
            vec3 N = normalize(Normal);
            
            if(uUseLighting) {

                #if MAX_DIRECTION_LIGHTS

                //Directionlights
                for(int i = 0; i < MAX_DIRECTION_LIGHTS; i++)
                    result = clamp(result + calculateDirectionLight(
                            d_ambient[i], 
                            d_direction[i], 
                            d_diffuse[i], 
                            d_specular[i], 
                            V, 
                            N), 
                        0.0, 1.0);
                
                #endif

                #if MAX_SPOTLIGHTS

                //Spotlights
                for(int i = 0; i < MAX_SPOTLIGHTS; i++)
                    result = clamp(result + calculateSpotlight(
							s_ambient[i], 
                            s_position[i],
							s_direction[i],
                            s_diffuse[i], 
                            s_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N), 
                        0.0, 1.0);

                #endif

                #if MAX_POINT_LIGHTS

                //Pointlights
                for(int i = 0; i < MAX_POINT_LIGHTS; i++) {
                    result = clamp(result + calculatePointLight(
							p_ambient[i], 
                            p_position[i], 
                            p_diffuse[i], 
                            p_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N), 
                        0.0, 1.0);
                }

                #endif

            } else {

                result = vColor;

            }

            gl_FragColor = vec4(result, 1.0);  

        } 

		float beckmann(vec3 N, vec3 H) {
			float alpha = acos( dot(N,H) );
			float tana = tan(alpha);
			float cosa = cos(alpha);
			float m2 = m_roughness * m_roughness;
			return exp( -tana * tana / m2 ) /
					( 3.14159265548 * m2 * cosa * cosa * cosa * cosa );
		}
		
        vec3 getAmbient() {
            if (uUseTextures) return vec3(texture2D(texture_diffuse, TexCoords));
            return m_ambient;
        }
        vec3 getDiffuse() {
            if (uUseTextures) { return vec3(texture2D(texture_diffuse, TexCoords)); }
            return m_diffuse;
        }
        vec3 getSpecular() {
            if (uUseTextures) { return vec3(texture2D(texture_specular, TexCoords)); }
            return m_specular;
        }

    </script>
	
	<script id="wardAnisotropic-fragment-shader" type="x-shader/x-fragment">

        precision mediump float;

        #define MAX_DIRECTION_LIGHTS 1
        #define MAX_SPOTLIGHTS 0
        #define MAX_POINT_LIGHTS 0

        varying vec3 Position;  
        varying vec3 Normal;  
        varying vec2 TexCoords;
        varying vec3 vColor;

        //SPOTLIGHTS

        #if MAX_SPOTLIGHTS

        uniform vec3 s_position[MAX_SPOTLIGHTS];
        uniform vec3 s_direction[MAX_SPOTLIGHTS];
        uniform float s_cutoff[MAX_SPOTLIGHTS];
        uniform float s_outerCutoff[MAX_SPOTLIGHTS];
          
        uniform float s_constant[MAX_SPOTLIGHTS];   //Recommended values are: 1.0, 0.009, 0.0032
        uniform float s_linear[MAX_SPOTLIGHTS];
        uniform float s_quadratic[MAX_SPOTLIGHTS];
          
        uniform vec3 s_ambient[MAX_SPOTLIGHTS];
        uniform vec3 s_diffuse[MAX_SPOTLIGHTS];
        uniform vec3 s_specular[MAX_SPOTLIGHTS];       

        #endif

        #if MAX_DIRECTION_LIGHTS

        //DIRECTION LIGHTS
        uniform vec3 d_direction[MAX_DIRECTION_LIGHTS];

        uniform vec3 d_ambient[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_diffuse[MAX_DIRECTION_LIGHTS];
        uniform vec3 d_specular[MAX_DIRECTION_LIGHTS];

        #endif

        #if MAX_POINT_LIGHTS

        //POINT LIGHTS
        uniform vec3 p_position[MAX_POINT_LIGHTS];

        uniform vec3 p_ambient[MAX_POINT_LIGHTS];
        uniform vec3 p_diffuse[MAX_POINT_LIGHTS];
        uniform vec3 p_specular[MAX_POINT_LIGHTS];

        uniform float p_constant[MAX_POINT_LIGHTS]; //Recommended values are: 1.0, 0.009, 0.0032
        uniform float p_linear[MAX_POINT_LIGHTS];
        uniform float p_quadratic[MAX_POINT_LIGHTS];

        #endif

        //Material
        uniform bool uUseLighting;
        uniform bool uUseTextures; //Defines whether of the following will be used
        uniform sampler2D texture_diffuse;
        uniform sampler2D texture_specular;
        uniform vec3 m_ambient;
        uniform vec3 m_diffuse;
        uniform vec3 m_specular;    
        uniform float m_shininess;
		uniform float m_Xroughness;
		uniform float m_Yroughness;

        //Others
        uniform vec3 cameraPosition;

		float wardAnisotropic(vec3 N, vec3 H, vec3 V, vec3 L, float constant, vec3 T, vec3 B);
        vec3 getAmbient();
        vec3 getDiffuse();
        vec3 getSpecular();

        #if MAX_DIRECTION_LIGHTS

        vec3 calculateDirectionLight(vec3 lambient, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, vec3 V, vec3 N, float constant, vec3 T, vec3 B) {
            //Ambient
            vec3 ambient = lambient * getAmbient();
            
            //Diffuse
            vec3 L = normalize(-ldirection);  
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);

            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = wardAnisotropic(N, H, V, L, constant,T,B);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
                    
            return ambient + diffuse + specular;  
        }

        #endif

        #if MAX_SPOTLIGHTS

        vec3 calculateSpotlight(vec3 lambient, vec3 lposition, vec3 ldirection, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, 
																						vec3 V, vec3 N, float constant, vec3 T, vec3 B) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse        
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = wardAnisotropic(N, H, V, L, constant,T,B);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
            
            // Spotlight (soft edges)
            float theta = dot(L, normalize(-ldirection)); 
            float epsilon = (lcutoff - louterCutoff);
            float intensity = clamp((theta - louterCutoff) / epsilon, 0.0, 1.0);
            diffuse  *= intensity;
            specular *= intensity;
            
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse  *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular; 
        }

        #endif

        #if MAX_POINT_LIGHTS

        vec3 calculatePointLight(vec3 lambient, vec3 lposition, vec3 ldiffuse, vec3 lspecular, float lconstant, float llinear, float lquadratic, 
																		vec3 V, vec3 N, float constant, vec3 T, vec3 B) {
            // Ambient
            vec3 ambient = lambient * getAmbient();
            
            // Diffuse        
            vec3 L = normalize(lposition - Position);
            float diff = max(dot(N, L), 0.0);
            vec3 diffuse = ldiffuse * diff * getDiffuse();  
            
            // Specular
            vec3 specular = vec3(0.0,0.0,0.0);
            if ( dot(L,N) > 0.0 ) {
                vec3 H = normalize(L+V);  
				float spec = wardAnisotropic(N, H, V, L, constant,T,B);
                if (spec > 0.0)
                    specular = lspecular * spec * getSpecular();
            }
                
            // Attenuation
            float distance    = length(lposition - Position);
            float attenuation = 1.0 / (lconstant + llinear * distance + lquadratic * (distance * distance));    
            ambient  *= attenuation; 
            diffuse  *= attenuation;
            specular *= attenuation;

            return ambient + diffuse + specular;
        }

        #endif

        void main()
        {
            vec3 result = vec3(0.0, 0.0, 0.0);
            vec3 V = normalize(cameraPosition - Position); //Some precalculation
            vec3 N = normalize(Normal);
            float constant = 3.14159 * 4.0 * m_Xroughness * m_Yroughness;
			vec3 e = normalize(N + vec3(0.0001, 0.0013, 0.0111));
			vec3 T = normalize(cross(N,e));
			vec3 B = normalize(cross(N,T));
			
            if(uUseLighting) {

                #if MAX_DIRECTION_LIGHTS

                //Directionlights
                for(int i = 0; i < MAX_DIRECTION_LIGHTS; i++)
                    result = clamp(result + calculateDirectionLight(
                            d_ambient[i], 
                            d_direction[i], 
                            d_diffuse[i], 
                            d_specular[i], 
                            V, 
                            N,
							constant,
							T,
							B), 
                        0.0, 1.0);
                
                #endif

                #if MAX_SPOTLIGHTS

                //Spotlights
                for(int i = 0; i < MAX_SPOTLIGHTS; i++)
                    result = clamp(result + calculateSpotlight(
							s_ambient[i], 
                            s_position[i],
							s_direction[i],
                            s_diffuse[i], 
                            s_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N,
							constant,
							T,
							B), 
                        0.0, 1.0);

                #endif

                #if MAX_POINT_LIGHTS

                //Pointlights
                for(int i = 0; i < MAX_POINT_LIGHTS; i++) {
                    result = clamp(result + calculatePointLight(
							p_ambient[i], 
                            p_position[i], 
                            p_diffuse[i], 
                            p_specular[i],
							s_constant[i],
							s_linear[i],
							s_quadratic[i],
                            V, 
                            N,
							constant,
							T,
							B), 
                        0.0, 1.0);
                }

                #endif

            } else {

                result = vColor;

            }

            gl_FragColor = vec4(result, 1.0);  

        } 

		float wardAnisotropic(vec3 N, vec3 H, vec3 V, vec3 L, float constant, vec3 T, vec3 B) {
	
			float LdotN = dot(L,N);
			float VdotN = dot(V,N);
			float HdotN = dot(H,N);
			float Xfactor = dot(H,T) / m_Xroughness;
			float Yfactor = dot(H,B) / m_Yroughness;

			return 1.0 / ( constant * sqrt( LdotN / VdotN ) ) *
				   exp( -2.0 * ( Xfactor*Xfactor + Yfactor*Yfactor ) / ( 1.0 + HdotN ) );
		}
		
        vec3 getAmbient() {
            if (uUseTextures) return vec3(texture2D(texture_diffuse, TexCoords));
            return m_ambient;
        }
        vec3 getDiffuse() {
            if (uUseTextures) { return vec3(texture2D(texture_diffuse, TexCoords)); }
            return m_diffuse;
        }
        vec3 getSpecular() {
            if (uUseTextures) { return vec3(texture2D(texture_specular, TexCoords)); }
            return m_specular;
        }

    </script>
	
    <!-- Built with love using Web Starter Kit -->
</body>

</html>
